*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 1;
    font-weight: 300;
}

img {
    display: block;
    object-fit: cover;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    padding: 20px 50px 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #eee;

    &__logo {
        width: 145px;
        height: 40px;
    }

    &__menu {
        padding-top: 10px;
        display: flex;
        align-items: center;
        gap: 0 30px;

        &-item {
            padding-bottom: 10px;
            position: relative;

            &::before {
                content: '';
                width: 0;
                height: 1.5px;
                background-color: black;
                position: absolute;
                bottom: 0;
                left: 0;
                transition: 0.35s ease-in-out;
            }

            &:hover::before {
                width: 100%;
            }
        }

        &-link {
            color: black;
            font-weight: 600;
            font-size: 15px;
            text-transform: uppercase;
        }
    }

    &__act {
        display: flex;
        align-items: center;
        gap: 0 30px;

        ion-icon {
            color: black;
            font-size: 22px;
        }
    }
}


.footer {
    
    &__main {
        border-top: 1px solid rgb(219, 219, 219);
        padding: 40px 0 40px;
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 0 30px;
    }

    &__column {
        width: calc(33.33% - 20px);
    }

    &__logo {
        width: 230px;
        height: 60px;
        margin-bottom: 20px;
    }

    &__desc {
        font-weight: 400;
        margin-bottom: 25px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 30px 0;

        &-key {
            color: #909097;
            display: inline-block;
            max-width: 70px;
            width: 100%;
        }

        &-link {
            color: #909097;
            font-weight: 400;
            transition: 0.15s linear;

            &:hover {
                color: black;
            }
        }

    }

    &__heading {
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 40px;
    }
}